*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Ubuntu', sans-serif;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(43, 122, 226);
  color: white;
}

#title{
  text-align: center;
  font-weight: 900;
}

#form-part{
  width: 90%;
}

#survey-form{
  background-color: rgb(45, 40, 88);
  margin: 20px;
  padding: 30px;
  display:flex;
  flex-direction: column;
  align-items: left;
}

.Item_form{
  padding: 10px;
  margin: 10px 0;
}

#radiobuttons-label, #checkbox-label{
  padding:10px 0;
}

#submit{
  font-size: 20px;
  color: white;
  background-color: rgb(55, 156, 55);
  padding:10px;
}